{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugin": ["react"],
  "rules": {
    "prettier/prettier": ["warn", {"singleQuote": true}],
    "no-extra-boolean-cast": "off"
  },
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
